@use '../../sass' as sass;

nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: auto;

        li {
            margin: 0 1rem;

            a {
                font-size: 1rem;
                color: sass.$white;
                transition: all .3s ease-in-out;

                &:hover {
                    color: sass.$primary;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: all .3s ease-in-out;
        z-index: 100;

        &.active {
            top: 0;
            left: 0;
            background-color: sass.$dark;
        }
    }
}