@use "../../../../sass" as sass;

footer {
    background-color: sass.$black;
    padding: .5rem;
    text-align: center;

    .container {
        color: sass.$white;

        font-size: .8rem;

        a {
            color: sass.$white;
            font-weight: 700;
            font-style: italic;
        }

        &.links {
            display: flex;
            justify-content: center;
            gap: .5rem;
            margin-top: .5rem;
        }
    }
}