@use '../../sass';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    height: 10vh;
    z-index: 100;
    width: 100%;
    padding: 1rem 2rem;
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, .2);

    h1 {
        text-transform: uppercase;
    }

    nav {
        ul {
            display: flex;
            align-items: center;
            list-style: none;

            li {
                margin: 0 1rem;
                position: relative;

                &:last-child {
                    margin: 0 0 0 .5rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: #000;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: all .3s ease-in-out;
                }

                &:hover {
                    &::after {
                        transform: scaleX(1);
                        // transform-origin: right;
                    }
                }

                a {
                    color: #888;
                    font-size: 1.2rem;
                    text-decoration: none;
                    transition: all .3s ease-in-out;

                    &:hover {
                        color: #000;
                    }

                    &.active {
                        color: #000;
                    }
                }
            }
        }
    }

    .header__menu {
        display: none;

        .mui-icon {
            font-size: 2rem !important;
        }
    }
}