@use '../../sass';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: sass.$dark;
    position: sticky;
    top: 0;
    left: 0;
    height: 10vh;
    z-index: 100;
    width: 100%;
    padding: 1rem 2rem;
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, .2);

    .buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        button {
            border: none;
            outline: none;
            cursor: pointer;
            padding: .2rem 1.2rem;
            border-radius: 5px;
            font-size: 1rem;
            transition: all .3s ease-in-out;

            &.with-linear-gradient {
                background: sass.$linear-gradient;
                color: sass.$white;
            }
        }
    }

    .header__menu {
        z-index: 100;
        display: none;

        img {
            cursor: pointer;
            width: 25px;
            height: auto;
        }
    }

    @media screen and (max-width: 768px) {
        .buttons-container {
            display: none;
        }

        .header__menu {
            display: block;
        }
    }
}