@use '../../sass' as sass;

.auth__screen {
    overflow: hidden;
    height: 90vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;

        .grid__item {
            height: 100%;
            overflow: hidden; // Ensure items don't leak

            &.logo__container {
                background-image: url("/images/bg.png");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: grid;
                place-items: center;

                img {
                    width: 300px;
                    height: auto;
                }
            }

            &.form__container {
                background-color: sass.$white;
            }
        }
    }
}